<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
  padding: 30px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

section {
  
  border-radius: 5px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

div {
  text-align: left;
  border: 3px solid tomato;
  padding: 20px;
}
</style>
</head>
<body>
  <h1><a href="/">Main Menu</a></h1>
  <div>
    <h2>Main: <%= combo.main %></h2>
    <h2>Side: <%= combo.side %></h2>
    <h2>Drink: <%= combo.drink %></h2>
  </div>  
</body>
</html>