<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/mobile.css">
  <link rel="stylesheet" href="/styles/somethingnew.css">
  <!-- This lets me use jquery -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<body>
  <nav class="navbar">
    <img src="https://http.cat/214" alt="" class="logo">
    <img src="https://http.cat/305" alt="" class="logo-mobile">
    <div class="navbar-container">
      <h2>News + Features</h2>
      <h2>Videos</h2>
      <h2>Films</h2>
      <h2>Series</h2>
      <h2>Games + Interactive</h2>
      <h2>Databank</h2>
      <h2>Disney+</h2>
    </div>
    <div class="navbar-container-mobile">
      <div class="x-container">
        <h1>X</h1>
      </div>
      <div class="inner-mobile-container">
        <h2>News + Features</h2>
        <h2>Videos</h2>
        <h2>Films</h2>
        <h2>Series</h2>
        <h2>Games + Interactive</h2>
        <h2>Databank</h2>
        <h2>Disney+</h2>
      </div>
    </div>
    <div class="hamburger-container">
      <h1>=</h1>
    </div>
  </nav>
</body>
</html>