<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />             -->
  <link rel="stylesheet" href="/styles/mobile.css" />
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/something.css">
  <!-- <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" /> -->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav class="navbar">
    <img src="https://http.cat/401" alt="" class="logo-lg">
    <img src="https://http.cat/404" alt="" class="logo-sm">
    <div class="menu-container">
      <ul class="menu-item-container">
        <li>New + Features</li>
        <li>Video</li>
        <li>Films</li>
        <li>Series</li>
        <li>Game + Interactive</li>
        <li>Databank</li>
        <li>Disney +</li>
      </ul>
      <p class="hamburger">=</p>
      <div class="menu-container-mobile">
        <p class="x">x</p>
        <ul class="menu-item-container-mobile">
          <li>New + Features</li>
          <li>Video</li>
          <li>Films</li>
          <li>Series</li>
          <li>Game + Interactive</li>
          <li>Databank</li>
          <li>Disney +</li>
        </ul>
      </div>
      
    </div>
  </nav>
</body>

</html>